{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 3 versions", "ie >= 10", "firefox >= 52", "safari >= 10"]
        },
        "debug": false,
        "loose": true,
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "extract-hoc/babel",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-strict-mode"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "9.3"
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "istanbul",
        [
          "module-alias",
          [
            {
              "src": "./src/components",
              "expose": "components"
            },
            {
              "src": "./src/images",
              "expose": "images"
            }
          ]
        ]
      ]
    }
  }
}
